<div ng-controller = "listcontroller">
<!--   Search Friends: <input type="text" ng-model="filter_name"><br> -->
  Search Friends By Birthday: <input type="text" ng-model="filter_date.birthday">
  <table>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Show</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="friend in friends | orderBy:'last_name' | filter: filter_date">
      <td>{{friend.first_name}} {{friend.last_name}}</td>
      <td>{{friend.birthday | date:'dd-MM-yyyy'}}</td>
      <td><button ng-click='showFriend(friend._id)' type="button">Show</button></td>
      <td><button ng-click='updateFriend(friend._id)' type="button">Edit</button></td>
      <td><button ng-click='deleteFriend(friend._id)' type="button">Delete</button></td>
    </tr>
  </table>
  <button type="button" ng-click='newFriend()'>Add New Friend</button>
</div>
<!-- 
style="display:none;" -->